/* font-family: 'Arvo', serif;
font-family: 'Gravitas One', cursive; */

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
  }


.headerimg {
      background: url(../img/headerback.jpg);
      height: 300px;
      background-size: cover;
      position: relative;
}

.title {
    font-family: 'Gravitas One', cursive;
      text-transform: uppercase;
      color: white;
      font-size: 80px;
      padding: 90px 0px 10px 0px;
      text-align: center; 
}

.subtitle {
    font-family: 'Arvo', serif;
    font-weight: 700;
    color: white;

    font-size: 30px;
    text-align: center;

}

#giphylogo {
      position: absolute;
      right: 0;
      bottom: 0;
      height: 50px;
      margin: 10px 10px 10px 10px;
}

.searchFave {
      
      background-color:#C78F42 ;
      padding: 30px 10px 30px 10px;
     
}
#vibe-form{
    display: block;
    margin: 0px auto;
    width: 100%;
    height: 30px;
    
    font-family: var(--text-font);
    font-weight: 700;
    color: white;
}

#searchTitle {
    font-family: 'Arvo', serif;
    font-weight: 400;
}

#search {
    width: 400px;
    border-radius: 5px;
    border: none;
    height: 40px;;
}

.button {
    width: 200px;
    border-radius: 5px;
    border: none;
    background-color: #AA1911;
    height: 40px;
    color: white;
    font-family: 'Gravitas One', cursive;
}




