/* font-family: 'Arvo', serif;
font-family: 'Gravitas One', cursive; */

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
  }


.headerimg {
      background: url(../img/headerback.jpg);
      height: 300px;
      background-size: cover;
      position: relative;
}

.title {
    font-family: 'Gravitas One', cursive;
      text-transform: uppercase;
      color: white;
      font-size: 80px;
      padding: 90px 0px 10px 0px;
      text-align: center; 
}

.subtitle {
    font-family: 'Arvo', serif;
    font-weight: 700;
    color: white;

    font-size: 30px;
    text-align: center;

}

#giphylogo {
      position: absolute;
      right: 0;
      bottom: 0;
      height: 50px;
      margin: 10px 10px 10px 10px;
}

.searchFave {
      background-color:#C78F42 ;
      padding: 30px 10px 30px 10px;
     
}
#vibe-form{
    display: block;
    margin: 0px auto;
    width: 100%;
    height: 30px;
    
    font-family: var(--text-font);
    font-weight: 700;
    color: white;
}

#searchTitle {
    font-family: 'Arvo', serif;
    font-weight: 400;
    padding-left: 30px;
}

#search-input {
    width: 50%;
    border-radius: 5px;
    border: none;
    height: 40px;
    font-family: 'Arvo', serif;
    font-weight: 400;
    padding: 5px 15px;
}

/* favorite and search */
.button {
    width: 200px;
    border-radius: 5px;
    border: none;
    background-color: #AA1911;
    height: 40px;
    color: white;
    font-family: 'Gravitas One', cursive;
    margin: 0px 5px;
}


.button:hover {
    background-color:white;
    color: #AA1911;
    border: 3px solid #AA1911;
}

/* search buttons */
.search {
    border-radius: 5px;
    border: none;
    background: #d49f4f;
    height: 40px;
    color: white;
    font-family:  'Arvo', serif;
    margin: 15px 15px 15px 15px;
    padding: 5px 15px 5px 15px;
}

.search:hover {
    background: #AA1911;
    color: white;
}

.buttons {
    text-align: center;
}

.objectTitle {
    font-family: 'Gravitas One', cursive;
    text-transform: uppercase;
    color: #AA1911;
    font-size: 30px;
    padding: 10px 0px 10px 0px;
    text-align: center; 
}

.favorite {
    background-color:lightgrey;
    font-family:  'Arvo', serif;
    color: black;
    border-radius: 5px;
    border: none;
    padding: 5px 15px 5px 15px;
    margin: 15px 15px;
}

.favorite:hover {
    background-color: white;
    color: #AA1911;
    border-radius: 5px;
    border: 2px solid #d49f4f;
    padding: 3px 13px 3px 13px;

}

.gif {
    display: inline-block;
    margin: 20px 20px;
}

.results {
    text-align: center;
}

.rating {
    font-family: 'Gravitas One', cursive;
    color: #AA1911;
}

.favoriteGallery {
    display: none;
}




